body {
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  submit-button{
     height: 10px;
     width: 30px;
     color: aquamarine;
     
  }
  #waveform {
    margin-top: 20px;
  }
  